<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"> <!-- Определяем кодировку символов документа -->
    <title>bDayApp</title> <!-- Задаем заголовок документа -->
    <link rel="stylesheet" href="menu.component.css"> <!-- Подключаем внешнюю таблицу стилей -->
    <script src="script.js"></script>
    <base href="/" />
</head>
<body>
    <div class="grid-container">
        <div class="menu">
            <p>logo</p>
            <button class="button">Добавить</button>
            <button class="button">Изменить</button>
            <button class="button">Удалить</button>
        </div>
        <div class="main"></div>
    </div>
</body>
</html>